<body ng-controller="myCtrl">
    <div class="container-fluid">
        <div class="div" ng-show="selectedRecipe.description !== undefined">
            <div class="row justify-content-center">
                <div class="col text-center pt-5">
                    <h1 class="recipe-title">{{selectedRecipe.label}}</h1>
                </div>
            </div>
            <div class="row pb-5">
                <div class="col text-center">
                    <img ng-src="{{selectedRecipe.image}}" />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 mb-4">
                    <table class="table-bordered table-hover text-center">
                        <thead>
                            <tr class="recipe-table-headers">
                                <th>Quantity</th>
                                <th>Ingredients</th>
                            </tr>
                        </thead>
                        <tbody class="body">
                            <tr ng-repeat="ing in selectedRecipe.ingredients">
                                <td>{{ ing.quantity }}</td>
                                <td>{{ ing.ingredient }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-3 mb-4 body">
                    <h3 class="recipe-table-headers text-center"><b>Instructions</b></h3>
                    <ol ng-repeat="method in selectedRecipe.method">
                        <li>{{method}}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>