<div class="container-fluid">
    <div class="row justify-content-center mt-5 pt-5 ">
        <div class="col-lg-11">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6 col-sm-12 border-shadow mr-3 p-0">
                    <img src="../../assets/images/bootstrapimg.png">
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 border-shadow ml-3 p-0">
                    <img src="../../assets/images/bootstrap2img.png">
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-lg-5 col-md-6 col-sm-12 border-shadow mr-3 p-0">
                    <img src="../../assets/images/recipeimg.png">
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 border-shadow ml-3 p-0">
                    <img src="../../assets/images/recipe2img.png">
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-lg-5 col-md-6 col-sm-12 border-shadow mr-3 p-0">
                    <img src="../../assets/images/wikipgimg.png">
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 border-shadow ml-3 p-0">
                    <img src="../../assets/images/memorygameimg.png">
                </div>
            </div>
        </div>
    </div>
</div>