img {
    width: 100%;
    height: 50vh;
}

.border-shadow {
    border-color: rgb(40, 46, 82);
    box-shadow: 8px 8px 15px rgba(27, 34, 100, 0.432);
}

li {
    list-style-type: none;
}

.recipes p {
    list-style-type: disc;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    
}

.options-box {
    border-color: rgb(40, 46, 82);
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 30px;
    border-radius: 25px;
    box-shadow: 3px 3px 8px rgba(27, 34, 100, 0.432);
  }

  .options-box a {
    color: rgba(74, 77, 85, 0.829);
  }